@model LoanApplicationService.Service.DTOs.LoanApplicationModule.LoanApplicationDto;

@{
    ViewData["Title"] = "Edit Loan Application";
    var loanProducts = ViewBag.LoanProducts as List<SelectListItem>;
    var customers = ViewBag.Customers as List<SelectListItem>;
}

<h2>Edit Loan Application</h2>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Edit", "LoanApplication", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.ApplicationId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mb-3">
                @Html.LabelFor(model => model.CustomerId, "Customer", new { @class = "form-label" })
                @Html.TextBoxFor(model => model.CustomerId, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.ProductId, "Loan Product", new { @class = "form-label" })
                @Html.DropDownListFor(model => model.ProductId, loanProducts, "-- Select Loan Product --", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.TermMonths, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.TermMonths, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.TermMonths, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.RequestedAmount, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.RequestedAmount, new { @class = "form-control", type = "number", step = "0.01" })
                @Html.ValidationMessageFor(model => model.RequestedAmount, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Purpose, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Purpose, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save Changes</button>

            </div>
}

    </div>
