    @model LoanApplicationService.Service.DTOs.LoanPayment.LoanPaymentDto;

@{
    ViewBag.Title = "Make Payment";
    var paymentMethods = ViewBag.PaymentMethods as List<SelectListItem>;
}

<h2>Make Payment</h2>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["Error"]
    </div>
}
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("LoanRePayment", "Transactions", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.AccountId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mb-3">
                @Html.LabelFor(model => model.Amount, "Amount", new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", type = "number", step = "0.01" })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(Model => Model.PaymentMethod, "Payment Method", new { @class = "form-label" })
                @Html.DropDownListFor(Model => Model.PaymentMethod, paymentMethods, "Payment Method", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Pay</button>
            </div>
        }
    </div>
    </div>

