@model LoanApplicationService.Service.DTOs.CustomerModule.CustomerDto
@{
    ViewData["Title"] = "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Customer @Model.CustomerId</h1>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Edit", "Customer", new { id = Model.CustomerId }, FormMethod.Post, null, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CustomerId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("CustomerFormFields", Model)
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="/Customer/Details/@Model.CustomerId" class="btn btn-secondary">Cancel</a>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
