@model LoanApplicationService.Service.DTOs.Account.AccountDto


@{
        ViewData["Title"] = "Account Details";
}


<h2 class="mb-4">Account Details</h2>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Approve", "LoanApplication", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.ApplicationId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mb-3">
                @Html.LabelFor(model => model.AccountNumber, "Account Number", new { @class = "form-label" })
                @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control", type = "text", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </div>
           
            <div class="mb-3">
                @Html.LabelFor(model => model.AccountType, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.AccountType, new { @class = "form-control", type = "text", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.AccountType, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.PrincipalAmount, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.PrincipalAmount, new { @class = "form-control", type = "number", step = "0.01", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.PrincipalAmount, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.MonthlyPayment, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.MonthlyPayment, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.MonthlyPayment, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.MaturityDate, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.MaturityDate, new { @class = "form-control", type = "DateTime", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.MaturityDate, "", new { @class = "text-danger" })

            </div>
            <div class="mb-3">
                @if (User.IsInRole("Customer"))
                {
                    <a href="/Account/GetAccountsByUserId" class="btn btn-outline-danger"> Home</a>

                }
                else
                {
                    <a href="/Account" class="btn btn-outline-danger"> Home</a>

                }

                

            </div>
               
            <div class=" mb-3">
                <a href="/Transactions/GetTransactionsByAccountId/@Model.AccountId" class=" btn btn-outline-danger"> Transactions History</a>
            </div>
            <div>
                <a href="/Account/GetPenalties/@Model.AccountId" class="btn btn-default"> Loan Penalties</a>
            </div>
        }

    </div>
