@model IEnumerable<LoanApplicationService.Service.DTOs.Account.AccountDto>

@{
        ViewData["Title"] = "Account Overview";

}

<h2 class="mb-4">Accounts Overview</h2>

<div class="table-responsive">
    <table class=" table table-striped table-hover ">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AccountNumber)</th>
                <th>@Html.DisplayNameFor(model => model.AccountType)</th>
                <th>@Html.DisplayNameFor(model => model.PrincipalAmount)</th>
                <th>@Html.DisplayNameFor(model => model.OutstandingBalance)</th>
                <th>@Html.DisplayNameFor(model => model.DisbursementDate)</th>
                <th>@Html.DisplayNameFor(model => model.NextPaymentDate)</th>
                <th>@Html.DisplayNameFor(model => model.MonthlyPayment)</th>
                <th>@Html.DisplayNameFor(model => model.InterestRate)</th>
                <th>@Html.DisplayNameFor(model => model.MaturityDate)</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>

       <tbody>
           @foreach (var item in Model)
           {
               <tr >
                   <td>@item.AccountNumber</td>
                   <td>@item.AccountType</td>
                   <td>@item.PrincipalAmount</td>
                   <td>@item.OutstandingBalance</td>
                   <td>@item.DisbursementDate</td>
                   <td>@item.NextPaymentDate</td>
                   <td>@item.MonthlyPayment</td>
                   <td>@item.InterestRate</td>
                   <td>@item.MaturityDate </td>
                    <td class="text-end">
                        <a href="@Url.Action("GetAccountById", "Account", new { id = item.AccountId })" class="btn btn-info">Details</a>

                    </td> 
                   </tr>
                   }
       </tbody>

    </table>
</div>
