@model IEnumerable<LoanManagementApp.DTOs.NotificationDto>
@{  
    Layout = "~/Views/Shared/_Layout.cshtml";  
}  

@{  
    ViewData["Title"] = "Notifications";  
}  

<h1>Notifications</h1>  

<table class="table">  
    <thead>  
        <tr>  
            <th>Notification ID</th>
            <th>Channel</th>
            <th>Title</th>  
            <th>Message</th>  
            <th>Recipient</th>  
            <th>Status</th>  
            <th>Sent At</th>  
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var item in Model) {  
        <tr>  
            <td>@item.NotificationId</td>
            <td>@item.Channel</td>
            <td>@item.Title</td>  
            <td>@item.Message</td>  
            <td>@item.Recipient</td>  
            <td>@item.Status</td>  
            <td>@item.SentAtFormatted</td>  
        </tr>  
        }  
    </tbody>  
</table> 
